.greeting_bg {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.text_group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 350px;
  padding: 3em 0;
  margin-bottom: 70px;
}

.text_group .typeit {
  height: 100px;
  margin-bottom: 1em;
  color: #fff;
  font-size: 2.25em;
  font-weight: bold;
  line-height: 1.6;
}
.text_group .btn_white {
  width: 180px;
}

.home_item {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.home_item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  width: 100%;
  height: 100%;
  padding: 2em;
  margin-bottom: 30px;
}
.home_item .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  transition: 0.3s;
}
.home_item h4 {
  flex-grow: 1;
}
.home_item p {
  color: #555;
}
.home_item:hover {
  box-shadow: -4px -4px 4px 2px rgba(0, 0, 0, 0.1),
    2px 3px 4px 2px rgba(0, 0, 0, 0.1);
}
.home_item:hover a {
  color: #333;
}
