@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@font-face {
  font-family: "Yeongdo-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}
h4 {
  font-size: 1.5em;
}
a {
  color: #333;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-clip: text;
  color: transparent;
}
li {
  list-style: none;
}

.logo_font {
  font-family: "Yeongdo-Rg", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", sans-serif;
}

.btn_white {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 1em;
  border-radius: 10px;
  color: #555;
  cursor: pointer;
}

.container {
  padding: 3em 3em;
}
